.toolbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #d69f7e;
}

.drag-over::after {
  position: absolute;
  background-color: #2587fe5f;
  border-radius: 10px;
  content: "";
  width: 250px;
  height: 60px;
  border: 2px dashed #2585fe;
}

.small-button {
  padding: 10px;
  color: #ffffff;
  background-color: #2585fe;
  border-radius: 3px;
}

.uploadImage {
  position: relative;
  width: 250px;
  height: 50px;
  border: 2px dashed #e7ecef;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tool-box {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(7, 50px);
}

.tool {
  :hover {
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
  }
}

.active {
  width: 50px;
  height: 50px;
  box-shadow: 0 0 10px 5px rgb(0, 0, 0);
  border-radius: 5px;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: #e7ecef 2px solid;

  :hover {
    box-shadow: none;
  }

  .icon-pen {
    width: 40px;
    height: 40px;
  }

  .icon {
    width: 40px;
    height: 40px;
    fill: #e7ecef;
  }

  .color-picker {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
  }
}

.icon-box-small {
  width: 40px;
  height: 40px;
}

.share {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-form {
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-input {
    width: 350px;
    height: 50px;
    background-color: #fdfdfd33;
    border: none;
    border-bottom: #e7ecef 2px solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 20px;
    padding: 10px;

    &:active,
    &:focus {
      border: none;
      outline: none;
    }
  }

  .default-btn {
    background-color: rgba(255, 0, 0, 0);
    border: none;
  }
}
