<section class="side-bar-container">
  <section class="sub-section">
    <pencil-spinner *ngIf="myDesignIsLoading"></pencil-spinner>
    <header *ngIf="!myDesignIsLoading"><h2>My Design</h2></header>
    <div [hidden]="myDesignIsLoading" class="design-list">
      <div
        *ngIf="!myDesignIsLoading"
        (click)="createNewCanvas()"
        class="create-btn tool-box"
      >
        <div class="tool">
          <div class="icon-box">
            <svg [attr.stroke]="'black'" class="icon icon-pen">
              <use
                xlink:href="/assets/svg/sprite/symbol-defs.svg#icon-plus1"
              ></use>
            </svg>
          </div>
        </div>
        <div>Create New</div>
      </div>
      <div
        (click)="openCanvas(item.$key)"
        class="design-card"
        *ngFor="let item of myCanvas$ | async"
      >
        <div>{{ item.name }}</div>
      </div>
    </div>
  </section>
  <section class="sub-section">
    <pencil-spinner *ngIf="shareDesignIsLoading"></pencil-spinner>
    <header *ngIf="!shareDesignIsLoading"><h2>Shared Design</h2></header>
    <div [hidden]="shareDesignIsLoading" class="design-list">
      <div
        (click)="openCanvas(item.$key)"
        class="design-card"
        *ngFor="let item of sharedCanvas$ | async"
      >
        <div>{{ item.name }}</div>
      </div>
    </div>
  </section>
</section>
