@import "../../../assets/style/standard-colors";

.spinner {
  position: relative;
  width: 100%;
  height: 100%;
}

.side-bar-container {
  width: 500px;
  height: 100%;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 5px;

  .icon-pen {
    width: 40px;
    height: 40px;
  }

  .icon {
    width: 40px;
    height: 40px;
    fill: var(--color-primary);
  }
}

header {
  padding: 0 10px;
  margin-bottom: 5px;
  font-size: 2rem;
  font-weight: bolder;
  border-bottom: 2px solid var(--color-black);
}

.sub-section {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  margin: 15px 0;
  background-color: var(--color-primary-light);
  box-shadow: 0px 6px 10px var(--color-black);
  color: var(--color-text-dark);

  .tool-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 140px;
    font-size: 1.6rem;
  }
}

.design-list {
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-template-columns: repeat(3, 140px);
  height: 70%;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 20px;
  }
}

.create-btn,
.design-card {
  width: 140px;
  height: 50px;
  font-size: 1.6rem;
  font-weight: bolder;
  border: var(--color-primary) 2px solid;
  display: grid;
  place-items: center;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 0 10px 2px var(--color-black);
  }

  &:active {
    transform: scale(1.1);
  }
}
